<%= form_with(model: property, local: true) do |form| %>
    <% if property.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
        <ul>
          <% property.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  
    <div class="field">
      <%= form.label :city %>
      <%= form.text_field :city %>
    </div>
  
    <div class="field">
      <%= form.label :country %>
      <%= form.text_field :country %>
    </div>
  
    <div class="field">
      <%= form.label :property_type %>
      <%= form.text_field :property_type %>
    </div>
  
    <div class="field">
      <%= form.label :price_per_night %>
      <%= form.number_field :price_per_night %>
    </div>
  
    <div class="field">
      <%= form.label :max_guests %>
      <%= form.number_field :max_guests %>
    </div>
  
    <div class="field">
      <%= form.label :bedrooms %>
      <%= form.number_field :bedrooms %>
    </div>
  
    <div class="field">
      <%= form.label :beds %>
      <%= form.number_field :beds %>
    </div>
  
    <div class="field">
      <%= form.label :baths %>
      <%= form.number_field :baths %>
    </div>
  
    <div class="field">
      <%= form.label :images %>
      <%= form.file_field :images, multiple: true, direct_upload: true %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  