<%= form_with model: @property, local: true do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  
    <div>
      <%= form.label :city %>
      <%= form.text_field :city %>
    </div>
  
    <div>
      <%= form.label :country %>
      <%= form.text_field :country %>
    </div>
  
    <div>
      <%= form.label :property_type %>
      <%= form.text_field :property_type %>
    </div>
  
    <div>
      <%= form.label :price_per_night %>
      <%= form.number_field :price_per_night %>
    </div>
  
    <div>
      <%= form.label :max_guests %>
      <%= form.number_field :max_guests %>
    </div>
  
    <div>
      <%= form.label :bedrooms %>
      <%= form.number_field :bedrooms %>
    </div>
  
    <div>
      <%= form.label :beds %>
      <%= form.number_field :beds %>
    </div>
  
    <div>
      <%= form.label :baths %>
      <%= form.number_field :baths %>
    </div>
  
    <div>
      <%= form.label :images %>
      <%= form.file_field :images, multiple: true %>
      <% if @property.images.attached? %>
        <div class="property-images">
          <% @property.images.each do |image| %>
            <%= image_tag url_for(image), class: 'property-image' %>
          <% end %>
        </div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  